*.pyc
*.retry
__pycache__
env/
.vscode/

# Front end files
frontend/node_modules/
frontend/dist/

# SizeSquirrel processed files
itemslist
outfile

# Merchant Feeds
backend/datafeeds/

# SizeSquirrel Deployment Files
production-database.db
wsgi.py
production_settings.py
production_manage.py
logs/*
!logs/.gitkeep 

# Dev databases
dev-database.db
dev-database.back.db

# Temp maintenance file
maintenance_on.html
