$white: rgba(255, 255, 255, 1);
$softgray: rgba(0, 0, 0, 0.4);
$black: #111;
$aqua: #0776bc;
$aqua_soft: rgba(7, 118, 188, .65);
$gray: #444;
$lightgray: #bbb;
$purple: #3e3895;
$lightpurple: #7872c5;
$errorred: #f04124;
$medgray: #717171;
$amazon_red: #b12704;
$hrgray: #ddd;
$offwhite: #F9F9F9;
$bulmagray: #dbdbdb;
$bulmadarkgray: #4a4a4a;
$white-bis: hsl(0, 0%, 98%);
// size squirrel blue: 0776bc
// how it works: 0f75c1
// button: 008cba
// circles: 0f75bc
// links: #008CBA;
// button hover::#007095;
// $aqua: #0F75BC;
// $purple: #3e3895
