.multiselect__tags {
    min-height: 38px;
}
.multiselect__option--highlight {
    background: $aqua_soft;
}
.multiselect__option--selected.multiselect__option--highlight {
    background: $purple;
}
.multiselect__tags {
    background-color: white;
    border-color: $lightgray;
    border-radius: 0;
    color: $gray;
}

.multiselect-large {
    .multiselect__tags {
        padding-top: 14px;
        min-height: 48px;
    }
    .multiselect__select {
        height: 100%;
    }
    .multiselect__select:before {
        color: $black;
        border-color: $black transparent transparent;
        border-width: 9px 9px 0;
    }
    .multiselect__placeholder, .multiselect__single {
        color: $black;
        font-size: 17px;
        margin-bottom: 7px;
        padding-top: 2px;
    }
    .multiselect__placeholder {
        padding-top: 0px;
        margin-bottom: 5px;
    }
}