@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// BulmaSwatch Theme
////////////////////////////////////////////////
// COSMO
////////////////////////////////////////////////
$grey-darker: #333;
$black-ter: #222;

$orange: #ff7518;
$yellow: #f4db00;
$green: #3fb618;
$turquoise: #00aba9;
$blue: #1faeff;
$purple: #aa40ff;
$red: #ff2e12;

$primary: #2780e3 !default;
$primary-dark: darken(#2780e3, 20);
$warning: $orange;
$info: $purple;

$orange-invert: #fff;
$warning-invert: $orange-invert;

$family-sans-serif: 'Segoe UI', 'Source Sans Pro', Calibri, Candara, Arial, sans-serif;

$body-size: 15px;

$radius: 0;
$radius-small: 0;
$radius-large: 0;

$link-hover: $primary-dark;
$link-focus: $primary-dark;
$link-active: $primary-dark;

$button-hover-color: $grey-darker;
$button-focus: $black-ter;
$button-active-color: $black-ter;

$bulmaswatch-import-font: true !default;

// $box-shadow: 0 0 0 1px $grey;
// $card-shadow: 0 0 0 1px $grey;
////////////////////////////////////////////////

// Custom SizeSquirrel Bulma Variables

// SizeSquirrel brand colors
$white: rgba(255, 255, 255, 1);
$softgray: rgba(0, 0, 0, 0.4);
$black: #111;
$aqua: #0776bc;
$gray: #444;
$lightgray: #bbb;
$purple: #3e3895;
$lightpurple: #7872c5;
$errorred: #f04124;
$medgray: #717171;
$amazon_red: #b12704;
$hrgray: #ddd;
$offwhite: #f9f9f9;
$squirrelDarkGray: #131313;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
// $dark: rgba(0, 0, 0, 0.6);
$primary: $aqua;
$primary-dark: darken($aqua, 20);
$warning: $orange;
$info: $purple;
$ss-transparent-gray: rgba(0, 0, 0, 0.6);
$button-disabled-opacity: .70;
// Update some of Bulma's component variables
$navbar-height: 3.5rem !default;
$navbar-item-img-max-height: 38px;

// Import only what you need from Bulma
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/grid/_all.sass';

@import 'bulma/sass/elements/box.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/table.sass';
@import 'bulma/sass/elements/progress.sass';

@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/components/card.sass';
@import 'bulma/sass/components/breadcrumb.sass';
@import 'bulma/sass/components/pagination.sass';
@import 'bulma/sass/components/modal.sass';

@import 'bulma/sass/form/_all.sass';

@import 'bulma/sass/layout/_all.sass';

// Cosmo Overrides
@import './cosmo_overrides.scss';

// Bulma steps extension
// https://aramvisser.github.io/bulma-steps/
@import 'bulma-steps-component/bulma-steps.sass';

// Bulma divider extension
// https://wikiki.github.io/layout/divider/
@import 'bulma-divider/dist/css/bulma-divider.sass';

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900');
